body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(145, 215, 165);
}

nav{
    position: sticky;
    top: 0;
    /*background-color: rgb(145, 215, 165);*/
    background-color: black;
    z-index: 1000;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    flex: 1;
    text-align: center;
    transition: 0.5s;
}
nav li:hover{
    flex: 1.1;
}
nav a{
    text-decoration: none;
    color : white;
    font-size: 1.2rem;
    padding: 2rem;
    display: block;
}
a.active {
    background-color: rgb(61, 122, 69);
}

h2{
    font-size: 2rem;
    text-align: center;
}

.cotizaciones{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto auto;
    border: solid 0.2rem black;
    margin: 2rem;
    border-radius: 2rem;
}
.oficial{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
.cotizaciones div{
    margin: 1rem;
    text-align: center;
    border: solid 0.2rem black;
    padding: 0.2rem;
    border-radius: 2rem;
    background-color: rgb(103, 125, 106);
}
.cotizaciones div:hover{ 
    margin: 0.5rem;
    transition: 0.5s;
    background-color: rgb(61, 122, 69);
}
.cotizaciones p{
    font-size: 1rem;
}
h3{
    font-size: 1.2rem;
}

.cotizacionesOtros{
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto;
    border: solid 0.2rem black;
    margin: 2rem;
    border-radius: 2rem;
}

.cotizacionesOtros div{
    margin: 1rem;
    text-align: center;
    border: solid 0.2rem black;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgb(81, 127, 130);
}
.cotizacionesOtros div:hover{ 
    margin: 0.5rem;
    transition: 0.5s;
    background-color: rgb(50, 134, 176);
}

.cotizacionesOtros p{
    font-size: 1rem;
}


/* Historico.html*/
.formulario{
    margin: 2rem auto;
    text-align: center;
    width: 60%;
    padding: 10px;
    border-collapse: collapse;
    border: solid 0.1rem #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formulario p{
    font-size: 0.8rem;
}

.formulario label {
    font-size: 1rem;
    margin-right: 1rem;
}

.formulario select {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.formulario button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: #45a049;
}

/*Tabla y paginacion*/
.tablaContainer {
    display: none;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    margin: 0 auto;
}

.tablaContainerFecha {
    display: none;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    margin: 0 auto;
}

#tablaHistorico{
    margin: 2rem auto;
    text-align: center;
    width: 60%;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    padding: 10px;
}

#tablaFecha{
    margin: 2rem auto;
    text-align: center;
    width: 60%;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    padding: 10px;
}

#tablaHistorico th {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#tablaFecha th {
    background-color: #4CAF50; 
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#tablaHistorico td {
    padding: 12px;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

#tablaFecha td {
    padding: 12px;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

#tablaHistorico tr:hover {
    background-color: #c0b0b0; 
}

#tablaFecha tr:hover {
    background-color: #c0b0b0; 
}

#controlesPaginacion {
    display: flex;
    justify-content: center; 
    margin-top: 1rem;
}

.paginacion {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.paginacion button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.paginacion button:hover {
    background-color: #45a049;
}

.paginacion button.activo {
    background-color: #007BFF;
    color: white;
    border: none;
    font-weight: bold;
}

.paginacion button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Grafica */
.grafico-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 3rem;
}

#graficoHistorico {
    max-width: 60%; 
    max-height: 250px;
}

footer {
    margin-top: auto;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

footer a {
    color: #41c45e; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {

    #tablaHistorico {
        width: 100%;
        font-size: 0.9rem;
    }

    #tablaHistorico th, #tablaHistorico td {
        padding: 8px;
    }

    .paginacion button {
        padding: 5px 8px;
        font-size: 0.9rem;
    }

    .formulario {
        margin: 1rem;
        padding: 1.5rem;
    }
}
