<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Cambio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="historico.html" class="active">Histórico</a></li>
        </ul>
    </nav>
    <main>
        <h1>Histórico de Moneda</h1>
        <label for="moneda">Selecciona una moneda:</label>
        <select id="moneda">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>

        <div id="filtros">
            <button onclick="mostrarHistorico('completo')">Completo</button>
            <button onclick="mostrarHistorico('ultimo_mes')">Último Mes</button>
            <!-- Añadir filtro por intervalo o fechas a elegir -->
        </div>

        <div id="grafica"></div> <!-- Aquí se mostrará la gráfica -->
        <div id="tablaHistorico"></div> <!-- Aquí se mostrará la tabla de datos históricos -->
        <button onclick="sendMail()">Send me the info please</button>
        <div id="indicadorActualizacion">Última actualización: </div>
    </main>

    <!-- Pie de Página -->
    <footer>
        <p>Integrantes: (Nombres)</p>
        <p>UTN - Carrera: (Nombre) - Materia: (Nombre)</p>
        <p>Fuente de datos: <a href="https://www.dolarapi.com" target="_blank">dolarapi.com</a></p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
