<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Cambio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" class="menu">Home</a></li>
            <li><a href="/historico" class="menu">Historico</a></li>
        </ul>
    </nav>
    <main>
        <h2>Histórico de Moneda</h2>
        <div class="formulario">
            <form action="/historico" method="POST">
                <div class="formulario">
                    <label for="dolar">Selecciona un tipo de dolar:</label>
                    <select name="dolar_historico" id="dolar_historico">
                        <option value="null"></option>
                        <option value="oficial">oficial</option>
                        <option value="blue">blue</option>
                        <option value="bolsa">bolsa</option>
                        <option value="contadoconliqui">contadoconliqui</option>
                        <option value="cripto">cripto</option>
                        <option value="mayorista">mayorista</option>
                        <option value="solidario">solidario</option>
                        <option value="turista">turista</option>
                    </select>
                </div>
                <div class="formulario">
                    <label for="fecha_cotizacion">Selecciona fecha de cotizacion:</label>
                    <input type="date" name ="fecha_cotizacion" id="fecha_cotizacion" placeholder="">
                </div>

                <button type="submit">Enviar</button>
            </form>
        </div>


        <div id="tablaFecha" class="tablaContainerFecha"></div>            
        <div id="tablaHistorico" class="tablaContainer"></div>
        <div id="controlesPaginacion" class="controlesContainer"></div>

        <div class="grafico-container">
            <canvas id="graficoHistorico"></canvas>
        </div>
    </main>

    <footer>
        <p>Integrantes: Carballo Jeremias - Pablo Araujo</p>
        <p>UTN - ROSARIO <br><br>
        Carrera: Tecnicatura en programación <br><br> 
        Materia: Programación 2</p> 
        <p>Fuente de datos: <a href="https://www.dolarapi.com" target="_blank">dolarapi.com</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/script.js"></script>
</body>
</html>
