<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Cambio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
            <li><a href="{{ url_for('historico') }}" class="active">Historico</a></li>
        </ul>
    </nav>
    <main>
        <h1>Histórico de Moneda</h1>
        <label for="moneda">Selecciona una moneda:</label>
        <select id="moneda">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>

        <div id="filtros">
            <button onclick="mostrarHistorico('completo')">Completo</button>
            <button onclick="mostrarHistorico('ultimo_mes')">Último Mes</button>
            <!-- Añadir filtro por intervalo o fechas a elegir -->
        </div>

        <div id="grafica"></div> 
        <div id="tablaHistorico">
            {% if historico_cotizaciones and 'error' not in historico_cotizaciones %}
                <table>
                    <thead>
                        <tr>
                            <th>Moneda</th>
                            <th>Casa</th>
                            <th>Fecha</th>
                            <th>Compra</th>
                            <th>Venta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cotizacion in historico_cotizaciones %}
                            <tr>
                                <td>{{ cotizacion.moneda }}</td>
                                <td>{{ cotizacion.casa }}</td>
                                <td>{{ cotizacion.fecha }}</td>
                                <td>{{ cotizacion.compra }}</td>
                                <td>{{ cotizacion.venta }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No se pudo obtener los datos históricos.</p>
            {% endif %}
        </div> 
        
        <button onclick="sendMail()">Send me the info please</button>
        <div id="indicadorActualizacion">Última actualización: </div>
    </main>

    <footer>
        <p>Integrantes: (Nombres)</p>
        <p>UTN - Carrera: (Nombre) - Materia: (Nombre)</p>
        <p>Fuente de datos: <a href="https://www.dolarapi.com" target="_blank">dolarapi.com</a></p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
