<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
        </ul>
    </nav>       

    <main>
        <h2>Cotizaciones de Dólar</h2>
        
        {% if cotizaciones and 'error' not in cotizaciones %}
            <div class="cotizaciones">
                {% for cotizacion in cotizaciones %}
                    {% if cotizacion.nombre == "Oficial" %}
                    <div class="oficial">
                        <h3>{{ cotizacion.nombre }}</h3>
                        <p>Compra: ${{ cotizacion.compra }}</p>
                        <p>Venta: ${{ cotizacion.venta }}</p>
                        <p>Última actualización: {{ cotizacion.fechaActualizacion }}</p>
                    </div>
                    {% else %}
                    <div class="cotizacion">
                        <h3>{{ cotizacion.nombre }}</h3>
                        <p>Compra: ${{ cotizacion.compra }}</p>
                        <p>Venta: ${{ cotizacion.venta }}</p>
                        <p>Última actualización: {{ cotizacion.fechaActualizacion }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>No se pudieron obtener las cotizaciones.</p>
        {% endif %}

        <h2>Otras cotizaciones</h2>
            {% if cotizacionesOtros and 'error' not in cotizacionesOtros %}
                <div class="cotizacionesOtros">
                    {% for cotizacionOtros in cotizacionesOtros %}
                      {% if cotizacionOtros.nombre == "Dólar" %}
                        <!--Para evitar la repeticion del dolar-->
                      {% else %}
                    <div class="cotizacionesOtros">
                        <h3>{{ cotizacionOtros.nombre }}</h3>
                        <p>Compra: ${{ cotizacionOtros.compra }}</p>
                        <p>Venta: ${{ cotizacionOtros.venta }}</p>
                        <p>Última actualización: {{ cotizacionOtros.fechaActualizacion }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>No se pudieron obtener las cotizaciones.</p>
        {% endif %}

        </main> 

    <footer>
        <p>Integrantes: (Carballo Jeremias - Pablo Araujo)</p>
        <p>UTN - ROSARIO <br><br>
        Carrera: Tecnicatura en programacion <br><br> 
        Materia: Programacion 2</p> 
        <p>Fuente de datos: <a href="https://www.dolarapi.com" target="_blank">dolarapi.com</a></p>
    </footer>

    <script src="/PruebaApp/static/script.js"></script>
</body>
</html>