<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizaciones</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" class="menu">Home</a></li>
            <li><a href="/historico" class="menu">Historico</a></li>
        </ul>
    </nav>

    <main>
        <h2>Cotizaciones de Dólar</h2>
        <div id="cotizaciones" class="cotizaciones">
            <!-- Aquí se cargarán las cotizaciones del dólar con JavaScript -->
        </div>

        <h2>Otras cotizaciones</h2>
        <div id="cotizacionesOtros" class="cotizacionesOtros">
            <!-- Aquí se cargarán las otras cotizaciones con JavaScript -->
        </div>
    </main> 

    <footer>
        <p>Integrantes: (Carballo Jeremias - Pablo Araujo)</p>
        <p>UTN - ROSARIO <br><br>
        Carrera: Tecnicatura en programación <br><br> 
        Materia: Programación 2</p> 
        <p>Fuente de datos: <a href="https://www.dolarapi.com" target="_blank">dolarapi.com</a></p>
    </footer>

    <script src="/static/script.js"></script>
</body>
</html>
