<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizaciones</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" class="menu">Home</a></li>
            <li><a href="/historico" class="menu">Historico</a></li>
        </ul>
    </nav>

    <main>
        <h2>Cotizaciones del Dólar</h2>
        <div id="cotizaciones" class="cotizaciones">

        </div>
        <div class="formulario">
                <p>Para recibir informacion de cotizaciones deje su mail</p>
                <form action="/usuario" method="POST">
                <label for="mail">Correo:</label>
                <input type="email" id="mail" name="mail" required>
                <button type="submit">Enviar</button>
        </div>
    </main> 

    <footer>
        <p>Integrantes: Carballo Jeremias - Pablo Araujo</p>
        <p>UTN - ROSARIO <br><br>
        Carrera: Tecnicatura en programación <br><br> 
        Materia: Programación 2</p> 
        <p>Fuente de datos: <a href="https://www.dolarapi.com" target="_blank">dolarapi.com</a></p>
    </footer>

    <script src="/static/script.js"></script>
</body>
</html>
